// .Register {
//     justify-items: center;
//     justify-content: center;
//     margin: 4vh 26vw;
    
//     .Registerbutton{
//         width: 252px;
//         height: 37px;
//         background-color: #A03037;
//         font-size: 18px;
//     }
//     .Barside{
//         margin: 2vh 9vw;        
//     }
//     .mainButton{
//         display: grid;
//         grid-template-columns: repeat(2,1fr);
//         grid-gap: 35px;
       
    
//         .facebutton{
//             width: 126px;
//             height: 37px;
//             background-color: black;
//         }
//         .googlebutton{
//             width: 126px;
//             height: 37px;
           
//         }
//         .emailInput {
//            width: 200px;
//             margin: 0vh 0vw;
//             background-color: black;
//         }
       
//     }
// }



@mixin heightWidth {
    width: 252px;
        height: 32px;
}
.Register {
    justify-items: center;
    justify-content: center;
    margin: 2vh 24vw;
    .inLogin{

    }
    .emailInput {
        @include heightWidth();
        margin: 0vh 0vw;
    }
    .passInput{
        @include heightWidth();
        margin: 6vh 0vw;
    }
    .Registerbutton{
        width: 252px;
        height: 37px;
        background-color: #A03037;
        font-size: 18px;
    }
    .Barside{
        margin: 2vh 5vw;        
    }
    .mainButton{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 35px;
        .facebutton{
            width: 126px;
            height: 37px;
        }
        .googlebutton{
            width: 119px;
            height: 37px;
        }
    }
}