$margin: 1vh 0vw;

.signup{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 2vh 24vw;
    .firstname{
        width: 252px;
        height: 35px;
        margin: $margin;
    }
    .emailId{
        width: 252px;
        height: 35px;
        margin: $margin;

    }
    .password{
        width: 252px;
        height: 35px;
        margin: $margin;

    }
    .numsignup{
        width: 252px;
        height: 35px;
        margin: $margin;

    }
    .signupButton{
        width: 252px;
        height: 37px;
        background-color: #A03037;
        font-size: 18px;
        margin: 2vh 0vw;
    }
}